#main_content {
    display: block;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#main_content .image {
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
}

#main_content .image img {
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;
}

#main_content .image-text {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 992px) {
    #main_content .image img {
        max-width: 100%;
    }

    #main_content .image-text {
        top: 100px;
    }
}

@media only screen and (max-width: 600px) {
    #main_content .image-text {
        top: 80px;
    }
}


#main_content .image-text > p {
    color: white;
    font-weight: lighter;
    font-size: 2vw;
}
