#main_content {
    display: block;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#main_content .image {
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
}

#main_content .image img.small_pic {
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;
}

#main_content .image img.wide_pic {
    display: none;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#main_content .image-text {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 992px) {
    #main_content .image img.small_pic {
        display: none;
    }

    #main_content .image img.wide_pic {
        display: block;
        object-fit: cover;
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #main_content .image img.small_pic {
        max-width: 100%;
        object-fit: cover;
    }

    #main_content .image img.wide_pic {
        display: none;
    }

    #main_content .image-text {
        top: 90px;
    }
}

@media only screen and (max-width: 600px) {
    #main_content .image-text {
        top: 60px;
    }
}


#main_content .image-text > p {
    color: white;
    font-weight: lighter;
    font-size: 2vw;
}

#main_content article > p {
    text-align: center;
    color: white;
}

#main_content .gallery {
    display: grid;
    grid-template-columns: 31vw 31vw 31vw;
    grid-template-rows: 16vw 16vw 16vw;
    grid-gap: 15px;
}

#main_content .gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main_content .gallery-outer {
    display: flex;
    justify-content: center;
}
